@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Sono:wght@300;400;500;800&display=swap");

.loading-Font {
  font-size: 62.5%;
  font-family: "Sono", sans-serif;
  font-weight: 500;
}
.game-Container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  background-color: #261301;
  width: 100%;
  height: 100vh;

  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none;
}

.game-Header {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  font-family: "Sono", sans-serif;
  font-weight: 500;

  height: 250px; /* or whatever value looks good */
  min-height: unset; /* remove min-height if you added it */

  background-color: #261301;
  @media only screen and (max-width: 67.5em) {
    width: 100%;
    height: 350px;
  }

  @media only screen and (max-width: 57.5em) {
    width: 100%;
    height: 250px;
  }
}

.game-Header-Title {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
  color: beige;
  margin: 0;
  letter-spacing: 0.3rem;

  @media only screen and (max-width: 57.5em) {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

.game-Header-P {
  padding-top: 0.25rem;
  color: beige;
  letter-spacing: 0.05rem;

  @media only screen and (max-width: 67.5em) {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 57.5em) {
    font-size: 0.7rem;
  }
}

.game-Requests {
  padding-top: 1.5rem;
  color: #c81c11;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;

  @media only screen and (max-width: 67.5em) {
    font-size: 1.5rem;

    padding-bottom: 2rem;
  }

  @media only screen and (max-width: 57.5em) {
    font-size: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.game-Header-Timer {
  display: flex;
  align-self: flex-end;
  padding-right: 1rem;
  letter-spacing: 0.05rem;
}
.game-Header-PanCount {
  display: flex;
  align-self: flex-end;
  padding-right: 1rem;

  transform: translateY(-12px);
}

.threeD-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100%;

  max-width: 100%;
  background-color: #261301;

  @media only screen and (max-width: 67.5em) {
    align-items: start;
  }
}

.threeD-Portal {
  display: flex;
  justify-content: center;

  width: 70%;
  height: 90%;
  background-color: #261301;

  @media only screen and (max-width: 67.5em) {
    height: 70%;
    width: 90%;
  }
  @media only screen and (max-width: 57.5em) {
    height: 70%;
    width: 90%;
  }
}

.gameOver-Container {
  width: 50%;
  height: 50%;
  background-color: #261301;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  align-items: center;
}

.gameOver-Title {
  color: #c81c11;
  font-family: "Sono", sans-serif;
  font-weight: 500;

  font-size: 3rem;

  margin: 0;
  padding-bottom: 2rem;
  padding-top: 5rem;

  @media only screen and (max-width: 57.5em) {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.gameOver-Time {
  color: #c81c11;
  font-family: "Sono", sans-serif;
  font-weight: 500;

  font-size: 1rem;

  margin: 0;
  padding-bottom: 1rem;

  @media only screen and (max-width: 57.5em) {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
}

.gameOver-Button {
  font-family: "Sono", sans-serif;
  color: black;
  font-weight: 500;

  background-color: #c81c11;
  /* border: none; */

  padding: 2rem;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 1.2rem;

  @media only screen and (max-width: 57.5em) {
    font-size: 1rem;
    padding: 1.5rem;
  }
}

.gameStart-Button {
  font-family: "Sono", sans-serif;
  color: black;
  font-weight: 500;

  background-color: #c81c11;
  /* border: none; */
  margin: 1rem;

  padding: 0.5rem;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 1.2rem;

  @media only screen and (max-width: 57.5em) {
    font-size: 1rem;
    padding: 1rem;
    margin: 1.5rem;
  }
}
